.App {
  text-align: center;
}
.payment-card {
  margin: 0 auto;
  margin-top: 60px;
  width: 85%;
  overflow: hidden;
  border-radius: 20px;
  background-color: white;
}

.payment-card header img {
  height: 148px;
  width: 100%;
}